table {
  width: 100%;
}

td {
  padding: 5px;
}

p {
  margin: 0px;
}

tbody:nth-child(even) {
  background-color: rgb(214, 214, 214);
}

/* .bloquePrincipal {
  background-size: cover;
  background-image: url('../images/fondo.jpeg');
  width: 100%;
  height: 200px;
  position: relative;
} */